!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title Antiracism Book Exchange
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stripe_javascript_tag
  %body{ :'class' => "#{controller_name} #{action_name}" }
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      %a.navbar-brand{href: '/'} Antiracism Book Exchange
      %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#main-nav"}, :'aria-controls' => "main-nav", :'aria-expanded' => "false", :'aria-label' => "Toggle navigation"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#main-nav
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{href: '/'} Home
          %li.nav-item
            %a.nav-link{href: '/books'} Books
          %li.nav-item
            %a.nav-link{href: '/offer'} Offer a Book
          %li.nav-item
            %a.nav-link{href: '/contact-us'} Contact Us
        %ul.navbar-nav.ml-auto
          - if current_user.nil?
            %li.nav-item
              = link_to 'Sign in', new_user_session_path, class: 'nav-link'
          - else
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{href: '#', role: 'button', :'aria-haspopup' => true, :'aria-expanded' => false, data: {toggle: 'dropdown'}}
                = current_user.full_name
              .dropdown-menu{:'aria-labelledby' => 'navbarDropdown'}
                - if current_user.admin?
                  %a.dropdown-item{href: '/admin'} Admin
                .dropdown-divider
                = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
    .container
      - unless alert.nil?
        .alert.alert-danger= alert
      -unless notice.nil?
        .alert.alert-info= notice
      = yield
